html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
	text-wrap: balance;

}

img {
	display: block;
}

.dark {
	/* Dark mode */
	--page-bg:#252526;
	--text-color:var(--white);

	--title-1: var(--white);

	--project-card-bg:var(--white);
	--project-card-text:var(--black);

}

.title {
	font-size: 80px;
    font-weight: 700;
	text-transform: uppercase;
	color: var(--text-color);
}

span {
	color: #ff3757;
}