.hero__cards {
	padding: 40px 0;
	z-index: 9;

	display: flex;
	flex-direction: column;
	
	width: 100%;

	gap: 24px;

	& > * {
		flex: 1;
		min-width: 262px;
	}

	// @include mobile {
	// 	display: grid;
	// 	grid-template-columns: repeat(2, minmax(150px, 1fr));
	// 	gap: 24px 8px;

	// 	& > * {
	// 		flex: none;
	// 		min-width: auto;
	// 	}
	// }
}
