/* Dark-Light mode btn */
.dark-mode-btn {
    position: relative;
    order: 5;

    display: flex;
    padding: 10px;
	padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 100px;
    border-radius: 50px;
    
    background-color: #272727;	 
	
}

.dark-mode-btn__icon {
	width: 85px;
	height: 85px;
	position: relative;
	z-index: 9;
}

.dark-mode-btn__element {
	width: 150px;
	position: absolute;
	left: 50%;
	z-index: 99;
	transition: all 0.3s ease-in;
}

.dark-mode-btn--active .dark-mode-btn__element{
	transition: all 0.3s ease-in;
	left: -25%;
}

.nav {
	position: fixed;
	width: 100%;
	z-index: 99;
	padding: 16px 0;
	background-color: rgb(233, 223, 223);
	
}

.nav__logo {
	display: flex;
	gap: 4px;
	align-items: center;
}
.nav__lang-btns{
	display: flex;
	padding: 5px;
	gap: 10px;
	border: 0.5px #000 solid;
	border-radius: 3px;
	color:#000;
}

.nav__lang-btn {
	// display: none;
}

label:hover {
	transition: all 0.2s ease-in;
	font-weight: 700;
	color: var(--accent);
}

.nav__lang-flag {
	width: 20px;
	height: 20px;
	display: none;
}

.nav__lang-flag--active {
	display: block;
}

.nav__btn-mobile-nav {
	display: none;

	@include mobile {
		display: block;
	}
}

.nav__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav__link {
	display: flex;
	gap: 2px;
	align-items: center;
	font-size: 22px;

	color: #141718;

	&:hover {
		color:#ff3757;
		border-bottom: 1px #141718 solid ;
	}
}

.nav__btns {
	display: flex;
	gap: 17px;
	align-items: center;
}

.nav__btn {
	display: flex;
	align-items: center;
	gap: 5px;
}

@include mobile {
	.nav__list,
	.nav__btn--search,
	.nav__btn--user {
		display: none;
	}
}
