.projects {
    width: 100%;
    height: 1000px;
    background-color: hsl(189, 78%, 40%);
}

.projects__desc {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.projects__text {
    font-size: 36px;
}

// SWIPER PROJECTS//

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}