<div class="projects__accordion">
  <div class="projects__accordion-item">
    <button class="accordion">Project 1</button>
    <div class="panel">
      @@include('card-project.html')
    </div>
  </div>
  <div class="projects__accordion-item">
    <button class="accordion">Project 2</button>
    <div class="panel">
      @@include('card-project.html')
    </div>
  </div>
  <div class="projects__accordion-item">
    <button class="accordion">Project 3</button>
    <div class="panel">
      @@include('card-project.html')
    </div>
  </div>
  
  <div class="projects__accordion-item">
    <button class="accordion">Project 4</button>
    <div class="panel">
      @@include('card-project.html')
    </div>
  </div>
  <div class="projects__accordion-item">
    <button class="accordion">Project 5</button>
    <div class="panel">
      @@include('card-project.html')
    </div>
  </div>
  <div class="projects__accordion-item">
    <button class="accordion">Project 6</button>
    <div class="panel">
      @@include('card-project.html')
    </div>
  </div>
</div>